body{
    font-family: 'Anonymous Pro', monospace;
    background: rgb(1, 39, 18);
    color: rgb(205, 255, 243);
    font-size: 20px;
}

.container {
    padding: 5rem;
    display: flex;
    justify-content: space-around;
}

h1{
    
    font-size: 3rem;
    text-align: center;
    margin: 1em;
}

h2{
    font-family: 'Aboreto', display;
    font-size: 2.5rem;
    text-align: center;
    margin: 1em;
}

h3{
    font-family: 'Aboreto', display;
    font-size: 2rem;
    text-align: center;
    margin: 1em;
}

a{
    text-decoration: none;
    color: rgb(205, 255, 243);
}

a:hover{
    text-shadow: rgb(223, 239, 246) 1px 0 10px;
}

.left {
    width: 35vw;
    text-align: center;
    position: fixed; 
    margin-right: 50%; 
}

.right{
    justify-content: flex-end;
    margin-left: 50%;
}


.project {
    text-align: center;
    margin: auto;
    padding: 10px 0;
    width: 25vw;
    border-bottom: 1px solid white;
}
/* 
.project-image {
    width: 350px;
    margin: 1em;
} */

.project p {
    padding: 5px;
}

.logos{
    display: flex;
    justify-content: center;
    gap: 15px;
}

img {
    width: 50px;
}

@media screen and (max-width: 1050px){
    .container{
        display: block;
        justify-content: center;
    }

    .left, .right {
        width: 80vw;
        margin: auto;
        position: relative;
    }

    .project {
        width: 60vw;
    }
}

@media screen and (max-width: 600px){
    .container{
       padding: 1rem;
    }
    h1, h2, h3 {
        margin: 1rem 0.25rem;
    }
}